.navigacia {
	display: flex;
    list-style: none;
    margin: 10px;
    font-size: 0.7em;
	padding: 10px;
	
	
}
li {
	padding: 20px;
	font-size: 30px;
}

.ruzove {
	
	
	position: relative;
	margin: 50px;
	top: 50px;
	width: 150px;
	left: 0%   
    
    /*transform: translate(-50%, 50%);*/

} 
.btn {
	background-color: pink;
	border-color: pink;
}
.btn:hover {
	background-color: grey;
	border-color: grey;
}
.card-btn {
	margin: 50px 20px
	 

}.card-body {
	text-align: center;
}
h5, p {
	text-align: left;
}
.card {
	height: 50%;
}



.cover {
	background-image: url(minimalizmus.jpg);
	background-position-x: 80px;
	display: flex;
    align-items: center;
	
	height: 80vh;
	background-size: cover;
	flex-direction: column;
    
	
	
}

h1 {
	position: relative;
	
	top: 200px;	
}