body {
	width: 100%;
	margin: auto;
	background-color: black;
}
.ruzove {
	
	/*flex: 100%;*/
	position: relative;
	margin: 50px;
	top: 50px;
	width: 150px;
	left: 40%;
	


	

    
    
    /*transform: translate(-50%, 50%);*/

} 
.btn {
	background-color: pink;
	border-color: pink;
}
.btn:hover {
	background-color: grey;
	border-color: grey;
}
.card-btn {
	margin: 50px 20px
	 

}.card-body {
	text-align: center;
}
h5, p {
	text-align: left;
}
.card {
	height: 50%;
}
.cover {
	background-image: url(minimalizmus.jpg);
	
	display: flex;
    /*align-items: center;
	justify-content: center;*/
	height: 80vh;
	background-size: cover;
	flex-direction: column;
	width: auto;
	
}
h1 {
	position: relative;
	left: 40%;
	top: 200px;
	
	
}